@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

#root {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins";
  color: #333;
}

.ant-tabs-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
